<h1>Poker</h1>

<table>
  <tr>
    <td></td>
    <th>One Player</th>
    <th>Second Player</th>
  </tr>
  <tr>
    <td>Cart</td>
    <th><%= @one_delear %></th>
    <th><%= @second_delear %></th>
  </tr>
  <tr>
    <td>Ranking</td>
    <th>(<%= @one_ranking %>) <%= @one_evaluate %></th>
    <th>(<%= @second_ranking %>) <%= @second_evaluate %></th>
  </tr>
</table>
